@media screen and (min-width:750px){
    body{
        justify-content: flex-start;
        align-items: flex-end;
        background-image: url('img/desktop.jpg');
    }
    #maior{
        display: flex;
        align-items: flex-end;
    }
    header{
        justify-content: space-between;
    }
    header>nav{
        width: 35vw;
        padding: 0 0 1vw 0;
    }
    header>nav>a{
        font-size: 13pt;
    }
    header>div>img{
        padding: 1vw 1vw 1vw 3vw;
    }
    header>div>p{
        padding: 0 0 1vw 0;
        font-size: 18pt;
    }
    button{
        margin: 5vh;
        padding: 1vw;
    }
    section{
        margin: 0 5vw;
        height: 80vh;
    }
    section>div>img{
        width: 20vw;
        height: 20vw;
        padding: 10vh;
    }
    section div:last-child{
        padding: 0 9vh 5vh 9vh;
        justify-content: space-evenly;
    }
    #menor{
        display: none;
    }
}

@media screen and (min-width:900px){
    section>div>img{
        padding: 5vh 10vh;
    }
    button{
        margin: 7vh;
    }

}
@media screen and (min-width:1005px){
}
section>div>img{
    padding: 3vh 10vh;
}
button{
    margin: 5vh;
}
